@use "@/styles/main.scss" as *;

.wrapper {
  display: none;
  @media all and (width >= $min_table) {
    display: flex;
    width: 100%;
    gap: 32px;
  }
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  @media all and (width >= $min_desktop) {
    justify-content: center;
    gap: 32px;
  }
}

.nav_item {
  height: 100%;
}
.nav_link {
  display: flex;
  align-items: center;
  justify-content: center;
  @include fontRegular(18px, 400, 18px);
  @media all and (width >= $min_desktop) {
    height: 100%;
  }
}
