@mixin fontRegular($fz, $fw, $lh, $col: #000, $ta: left, $ls: 0.01em) {
  font-size: $fz;
  font-weight: $fw;
  line-height: calc($lh / $fz);
  color: $col;
  text-align: $ta;
  letter-spacing: $ls;
}
